* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color: white;
}
#earth_div{
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}